<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-3">
    <h1>Login</h1>
    <form action="index.html" method="post" ng-submit="login.signin(login.inputs.email, login.inputs.password)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          type="text"
          name="email"
          placeholder="Email"
          ng-model="login.inputs.email" />
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
            ng-model="login.inputs.password"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" name="Submit">Submit</button>
      </div>
    </form>
  </div>
</div>
